.fillpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
